[submodule "MachineLearning/external/image_segmentation_keras"]
	path = MachineLearning/external/image_segmentation_keras
	url = C:/repos/image-segmentation-keras
[submodule "TestData/TMBuD"]
	path = TestData/TMBuD
	url = https://github.com/CipiOrhei/TMBuD.git
[submodule "Application/Jobs/external/EDLine"]
	path = Application/Jobs/external/EDLine
	url = https://github.com/shaojunluo/EDLinePython.git
